@keyframes social {
  0% {
    width: 80%;
    height: 80%;
    opacity: 0;
  }

  90% {
    width: 112.5%;
    height: 112.5%;
  }

  100% {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
}

@keyframes hideScreen {
  0% {
    display: flex;
  }
  98% {
    display: flex;
  }
  from {
    display: none;
  }
}
